@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Raleway', sans-serif;*/

:root {	
	--main:#444444;
	--main-rgb:68,68,68;
	--white:#ffffff;
	--white-rgb:255,255,255;	
	
	--light:#eaeff3;
	--light-rgb:234,239,243;
	--gray:#607d8b;
	--gray-rgba:96,125,139;
	
	--red:#ba68c8;
	--red-rgb:186,104,200;
	--blue:#049dd9;
	--blue-rgb:4,157,217;
	--yellow:#f2b705;
	--yellow-rgb:242,183,5;	

	--shadow:0 10px 40px rgba(0,0,0,0.15);
	--shadow-dark:0 16px 35px rgba(0,0,0,0.2);
	--border:1px solid #cfd8dc;
	--border-white:1px solid #fff;
}

/*--------------------------------------------------------/
[01] COMMON STYLE
[02] SHEET STYLE
---------------------------------------------------------*/

/*--------------------------------------------------------/
[01] COMMON STYLE
---------------------------------------------------------*/
* {
	outline: none!important;
	transition: all 0.3s ease-out 0s;
}
*, *::after, *::before {
	box-sizing: border-box;
}
html {
	position: relative;
	min-height: 100%;
}
html,
body {
	-webkit-tap-highlight-color: transparent;	
	   -webkit-text-size-adjust: 100%;	
	width: 100%;	
	background:var(--white);
	color: var(--main);
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height:1.5;  
	overflow-x: hidden;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
}
img {
	max-width: 100%;
}
span {
  margin: 0px;
  transition: all 0.4s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 20px 0;
	line-height: 1.5;
}
a, 
a:hover, 
a:active,
a:focus{
	color: var(--main);
	text-decoration: none;
}
a {
	color: var(--blue);
}
*::-moz-selection {
	background: var(--wd-gray);
	color:var(--wd-white);
	text-shadow: none;
}
::-moz-selection {
	background: var(--gray);
	color:var(--white);
	text-shadow: none;
}
::selection {
	background: var(--gray);
	color:var(--white);
	text-shadow: none;
}
*::-moz-placeholder {
	color: var(--gray);
	font-size: 1em;
	opacity: 1;
}
*::placeholder {
	color: var(--gray);
	font-size: 1em;
	opacity: 1;
}

/*--------------------------------------------------------/
[02] SHEET STYLE
---------------------------------------------------------*/
.title {
	width: 900px;
	text-align: center;
	margin: 10px auto 30px; 
}
@media (max-width: 991px) {
	.title {
		width: 90%;
	}
}
.title h1,
.title p{
	margin: 0;
}
.table-sheet > thead {
  vertical-align:middle;
	text-align: center;
}
.table-sheet .vertical-cell {
	writing-mode:vertical-rl;
	transform: rotate(-180deg);
	margin: 10px 0;
}